*{
  margin: 0%;
  box-sizing: border-box;
}
.hding{
  color: rgb(239, 239, 253);
  text-align: center;
  font-size:  3.2vw;
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif Arial, Helvetica, sans-serif;
}
.input{
  color: darkred;
  font-weight: 700;
  margin-top: 4%;
  background-color: rgb(25, 199, 199);
}
.hding:hover{
  color: rgb(25, 179, 89);
  font-size:  3.4vw;
  font-weight: 300;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif Arial, Helvetica, sans-serif;
}

.customForm{
  width: 56vw;
  height: 80vh;
  /* border: 2px solid black; */
}

.checkme{
  color: rgb(183, 240, 91);
  font-weight: 300;
  font-style: italic;
}

.btn1{
  color: black;
  display: flex;
  justify-content: center;
  background-color: rgb(147, 194, 93);
  text-align: center;
  font-size: 1.3rem;
  width: 18vw;
  padding: 0.5% , 2%;
  margin: auto;

}
input:focus{
  color: rgb(13, 14, 12);
  background-color: rgb(252, 186, 107);
  font-size: 1.2em;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

.pLink{
  color: rgb(181, 248, 23);
}

.pLink:hover{
  color: rgb(8, 8, 253);
  font-weight: 500;
  text-decoration: underline;
  background-color: aqua;

}